src/com/sun/ts/tests/webservices12/ejb/annotations/WSEjbWebServiceRefWithNoDDsTest/WSEjbWSRefWithNoDDsTestHelloEJBService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. -->
<definitions targetNamespace="http://WSEjbWebServiceRefWithNoDDsTest.annotations.ejb.webservices12.tests.ts.sun.com/" name="WSEjbWSRefWithNoDDsTestHelloEJBService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://WSEjbWebServiceRefWithNoDDsTest.annotations.ejb.webservices12.tests.ts.sun.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types/>
  <message name="extra">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:int"/>
  </message>
  <message name="extraResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="extraExtra">
    <part name="arg0" type="xsd:long"/>
  </message>
  <message name="extraExtraResponse"/>
  <message name="bye">
    <part name="arg0" type="xsd:string"/>
  </message>
  <message name="byeResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="hello">
    <part name="arg0" type="xsd:string"/>
  </message>
  <message name="helloResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <portType name="WSEjbWSRefWithNoDDsTestHelloEJB">
    <operation name="extra" parameterOrder="arg0 arg1">
      <input wsam:Action="http://WSEjbWebServiceRefWithNoDDsTest.annotations.ejb.webservices12.tests.ts.sun.com/WSEjbWSRefWithNoDDsTestHelloEJB/extraRequest" message="tns:extra"/>
      <output wsam:Action="http://WSEjbWebServiceRefWithNoDDsTest.annotations.ejb.webservices12.tests.ts.sun.com/WSEjbWSRefWithNoDDsTestHelloEJB/extraResponse" message="tns:extraResponse"/>
    </operation>
    <operation name="extraExtra">
      <input wsam:Action="http://WSEjbWebServiceRefWithNoDDsTest.annotations.ejb.webservices12.tests.ts.sun.com/WSEjbWSRefWithNoDDsTestHelloEJB/extraExtraRequest" message="tns:extraExtra"/>
      <output wsam:Action="http://WSEjbWebServiceRefWithNoDDsTest.annotations.ejb.webservices12.tests.ts.sun.com/WSEjbWSRefWithNoDDsTestHelloEJB/extraExtraResponse" message="tns:extraExtraResponse"/>
    </operation>
    <operation name="bye">
      <input wsam:Action="http://WSEjbWebServiceRefWithNoDDsTest.annotations.ejb.webservices12.tests.ts.sun.com/WSEjbWSRefWithNoDDsTestHelloEJB/byeRequest" message="tns:bye"/>
      <output wsam:Action="http://WSEjbWebServiceRefWithNoDDsTest.annotations.ejb.webservices12.tests.ts.sun.com/WSEjbWSRefWithNoDDsTestHelloEJB/byeResponse" message="tns:byeResponse"/>
    </operation>
    <operation name="hello">
      <input wsam:Action="http://WSEjbWebServiceRefWithNoDDsTest.annotations.ejb.webservices12.tests.ts.sun.com/WSEjbWSRefWithNoDDsTestHelloEJB/helloRequest" message="tns:hello"/>
      <output wsam:Action="http://WSEjbWebServiceRefWithNoDDsTest.annotations.ejb.webservices12.tests.ts.sun.com/WSEjbWSRefWithNoDDsTestHelloEJB/helloResponse" message="tns:helloResponse"/>
    </operation>
  </portType>
  <binding name="WSEjbWSRefWithNoDDsTestHelloEJBPortBinding" type="tns:WSEjbWSRefWithNoDDsTestHelloEJB">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="extra">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://WSEjbWebServiceRefWithNoDDsTest.annotations.ejb.webservices12.tests.ts.sun.com/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://WSEjbWebServiceRefWithNoDDsTest.annotations.ejb.webservices12.tests.ts.sun.com/"/>
      </output>
    </operation>
    <operation name="extraExtra">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://WSEjbWebServiceRefWithNoDDsTest.annotations.ejb.webservices12.tests.ts.sun.com/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://WSEjbWebServiceRefWithNoDDsTest.annotations.ejb.webservices12.tests.ts.sun.com/"/>
      </output>
    </operation>
    <operation name="bye">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://WSEjbWebServiceRefWithNoDDsTest.annotations.ejb.webservices12.tests.ts.sun.com/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://WSEjbWebServiceRefWithNoDDsTest.annotations.ejb.webservices12.tests.ts.sun.com/"/>
      </output>
    </operation>
    <operation name="hello">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://WSEjbWebServiceRefWithNoDDsTest.annotations.ejb.webservices12.tests.ts.sun.com/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://WSEjbWebServiceRefWithNoDDsTest.annotations.ejb.webservices12.tests.ts.sun.com/"/>
      </output>
    </operation>
  </binding>
  <service name="WSEjbWSRefWithNoDDsTestHelloEJBService">
    <port name="WSEjbWSRefWithNoDDsTestHelloEJBPort" binding="tns:WSEjbWSRefWithNoDDsTestHelloEJBPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

