src/com/sun/ts/tests/webservices13/servlet/WSWebServiceRefLookupDDs/client/EchoService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://echo.org/wsdl" xmlns:tns="http://echo.org/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="echoString" type="tns:echoString"/>

  <xs:element name="echoStringResponse" type="tns:echoStringResponse"/>

  <xs:complexType name="echoString">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="echoStringResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

